@import "tailwindcss";

@theme {
  --breakpoint-xxs: 25rem;
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}




body{
  font-family:"Raleway", sans-serif;
  /* background: #000; */
  /* color:#fff; */
}

h1,h2,h3,h4,h5,h6{
  font-family:"Poppins", sans-serif;
}

.loader_screen{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1E2939;

}

.container{
  max-width: 1280px;
  padding-left:20px;
  padding-right:20px;
  margin:0 auto;
}